.header-logo {
  position: absolute;
  left: 28px;
  top: 15px;
  width: 150px;
  height: 30px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
}

.silder {
  background-color: white;
  padding-top: 65px;
  overflow-x: hidden;
  overflow-y: auto;
  /*border: 1px solid red;*/
}

.foot {
  /*border: 1px solid red;*/
  height: 50px;
  text-align: center
}

