html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.content {
  width: 100%;
  height: 100%;
  
}

.box {
  width: 600px;
  height: 169px;
  margin: 130px auto;
  padding-top: 20px;
  /*border: 1px solid red*/
}

.index-logo {
  width: 350px;
  height: 72px;
  margin: 0 auto;
}

.input {
  width: 540px;
  height: 40px;
  margin-top: 35px;
}

.searchBtn {
  height: 40px;
}

.foot-box {
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0px;
}

.dropDown {
  width: 540px;
}

.loading {
  width: 50px;
  height: 20px;
  margin-left: 48%;
  margin-bottom: 5px;
  font-size: 20px;
  color: #108ee9;
}